/*ion-col {
    border: 1px solid grey;
    text-align: center;
  }
  ion-row {
    border: 1px solid red;
    text-align: center;
    padding: 15px;
  }*/
  * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
    }
    