<!-- <ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content> -->
<ion-content> <!--class="base"-->
  <div style="background-color:#0d1b34;height: 100%;"> <!-- CONTENEDOR DE FORMULARIO class="bg-login parallax" -->
    <form #form="ngForm" (ngSubmit)="login(form)">
      <ion-grid style="width: 90%;">
        <ion-row color="primary" justify-content-center>
          <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
              <p class="logo1 animated fadeInDown" style="text-align: center;">
                <a href="#"><img src="../../assets/logo-consultas.png" width="150"></a> 
              </p> 
            <div padding>
              <ion-item style="padding-top: 20px; background: none !important">
                <ion-input name="login" type="text" placeholder="USUARIO" ngModel required></ion-input>
              </ion-item>
              <ion-item style="padding-top: 20px; background: none !important">
                <ion-input name="pswd" type="password" placeholder="CONTRASEÑA" ngModel required></ion-input>
              </ion-item>
            </div>
        
            <div padding style="text-align: center;">
              <br>
              <button size="large" type="submit" [disabled]="form.invalid" expand="block" class="btn-cyan">INGRESAR</button>
              
              <br>
              
              <a (click)="iraregistrar()" style="color: #fff !important;line-height: 60px;"> Registrarme!</a> 
              <br><br>
              
            </div>
          </ion-col>
        </ion-row>
  
      
        
      </ion-grid>
    </form>
  </div>
  </ion-content>