<!-- // CABECERA \\ -->
<ion-header>
  <ion-toolbar color="primary">
    <div class="cabecera-div" >
      <div style="width:10%; float:left;">
        <ion-item-option routerLink="/login" routerDirection="forward"  >
          <ion-icon  name="chevron-back-circle-outline" class="icon-back" >          
          </ion-icon> 
        </ion-item-option>        
      </div>
      <div style="width: 90%; float: left;">
        <ion-title>
          <p class="txt-small-cab1">Bienvenido a LTK Consultas</p>
          <p class="txt-small-cab2">Hola <strong>{{usuarioNombre}}</strong>!</p>
        </ion-title>
      </div>
    </div>
  </ion-toolbar>
</ion-header>
<!-- \\ CABECERA // -->
<!-- // CUERPO \\ -->
<ion-content>
  
  <div *ngIf="conexiones?.length > 0" class="ion-padding"> 
  <ion-title class="titulos">CONEXIONES </ion-title> <!-- TITULOS -->
  Éstas son tus conexiones disponibles. 
    <div  *ngFor="let conexion of conexiones  " >
      <button class="btn-cyan txt-btn-ligth" (click)="irConsultas(conexion[0])" ><!-- ID -->
        {{conexion[1]}} <!-- NOMBRE -->
      </button> 
    </div> 
  </div> 
  <!--<ion-title class="titulos">LINKS </ion-title>-->
  <div *ngIf="links?.length > 0" class="ion-padding">
    <ion-title class="titulos">LINKS </ion-title> <!-- TITULOS -->
    <div  *ngFor="let link of links" > 
      <button  class="btn-cyan txt-btn-ligth" (click)="irLink(link[2])" >
        {{link[1]}} 
      </button>  

    </div> 
  </div> 
</ion-content>
<!-- \\ CUERPO // -->
<!-- // FOOTER \\ -->
<ion-footer>
  <ion-toolbar>
    <ion-title style="font-size: 10px; text-align: center;">Desarollado por Latika IT</ion-title>
  </ion-toolbar>
</ion-footer>
<!-- \\ FOOTER // -->